.dest-image {
    background-image: url("../assets/destination/background-destination-mobile.jpg");
    width: 100%;
    height: 118vh;
    background-size: cover;
    display: block;
    position: static;
}

.dest-div {
    padding-top: 75px !important;
    font-family: var(--familyOne);
    color: rgb(223, 223, 247);
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mob-div {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tablet-div {
    display: none;
}

.under-line.active {
    border-bottom: 1px solid white !important;
}

.under-line:hover {
    border-bottom: 1px solid white !important;
}

.image-div {
    width: 160px;
    height: 160px;
}

.planet-text {
    font-size: 3.5rem;
    font-family: var(--familyThree);
}

.planet-span {
    font-size: 1.03rem;
    font-family: "Ubuntu";
    color: rgb(223, 223, 247);
}

.line-break {
    width: 20rem;
    border-bottom: 1px solid rgb(223, 223, 247);
}

.below-text h5 {
    font-size: 1rem;
}

.below-text h2 {
    font-size: 1.7rem;
    font-family: "Ubuntu";
}

.planet-desktop-div {
    display: none;
}

.desktop-top-div span {
    display: none;
}

.distance-div {
    margin-bottom: 15px;
}

@media (min-width: 768px) and (max-width: 900px) {
    .dest-image {
        background-image: url("../assets/destination/background-destination-tablet.jpg");
        width: 100%;
        height: 100vh;
        background-size: cover;
        display: block;
        position: static;
    }

    .desktop-top-div {
        display: none !important;
    }

    .mob-div {
        display: none
    }

    .tablet-div {
        display: block;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-top: 60px;
        margin-left: 100px
    }

    .tab-image {
        padding-top: 50px;
    }

    .top-text {
        text-align: left;
    }

    .list-div {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list-div li {
        font-size: 1.3rem
    }

    .planet-div h1 {
        font-size: 5rem;
    }

    .desc-div span {
        font-size: 1.17rem;
    }

    .line-break {
        display: none;
        ;
    }

    .below-text {
        margin-top: 100px;
    }

    .time-div {
        margin-left: 100px;
    }
    .distance-div {
        margin-bottom: 0px;
    }

}

@media (min-width: 900px) {
    .dest-image {
        background-image: url("../assets/destination/background-destination-desktop.jpg");
        width: 100%;
        height: 100vh;
        background-size: cover;
        display: block;
        position: static;
    }

    .dest-div {
        display: none !important;
    }

    .planet-desktop-div {
        display: block !important;
        display: flex !important;
        width: 100%;
        padding-top: 60px;
    }

    .sub-div {
        width: 50%;
    }

    .planets-div {
        width: 50%;

    }

    .image-div-dest {
        margin-left: 100px;
    }

    .desktop-top-div {
        display: flex;
        display: block !important;
        padding-top: 140px;
        margin-left: 130px;
    }

    .list-div li {
        font-family: var(--familyOne);
    }

    .down-below-div h1 {
        font-size: 3.5rem;
    }

    .down-below-div span {
        font-size: 1rem;
    }

    .line-break {
        width: 60%;
    }

    .below-text h5 {
        font-size: 0.9rem;
        font-family: var(--familyOne);
    }

    .below-text h2 {
        font-size: 1.5rem;
    }

    .desktop-top-div span {
        display: block;
        display: flex;
        font-size: 1.2rem;
        font-family: var(--familyOne);

    }
}